name: Backend Test

on:
  pull_request:
    paths:
      - backend/**
  push:
    paths:
      - backend/**

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: 'true'

      - uses: actions/setup-node@v2
        with:
          node-version: '20'

      - uses: pnpm/action-setup@v4
      - name: Install dependency
        run: pnpm install

      - name: Run Build
        run: pnpm run build
        working-directory: backend

      - name: Run Test
        run: pnpm run test
        working-directory: backend
